body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(Death-Stranding-objet-videoludique-non-identifie-mais-fascinant.jpg);
}


h1{
    color: white;
    font-size: 5em;
}